body {
    margin: auto;
    width: 90vw;
    background-color: #131314;
    font-family: "Google Sans Flex", sans-serif;
    color: rgb(227, 227, 227);
}

.mainContainer {
    margin-top: 20vh;
    display: grid;
    gap: 10vh;
    justify-content: center;
    min-height: 60vh;
    align-items: center;
    min-width: 330px;
}

#nameBox {
    color: rgb(227, 227, 227);
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-family: "Google Sans Flex", sans-serif;
    min-height: 50px;
    min-width: 300px;
}

#nameButton {
    border: 1px solid rgb(26, 25, 25);
    background-color: #282a2c;
    border-radius: 10px;
    padding: 12px 20px 12px 16px;
    color: rgb(227, 227, 227);
    font-size: 1.3rem;
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: fit-content;
    justify-self: center;
}

#nameButton:hover {
    background-color: #37393b;
    cursor: pointer;
}
.options {
    color: #6a6d70;
}
.box input {
    display: none;
}

.box {
    background: #282a2c;
    cursor: pointer;
    color: #515457;
    border-radius: 10px;
    padding: 4px 12px;
    margin-top: 8px;
    font-weight: 700;
}
.box:has(input:checked) {
    background: #494c4e;
    color: rgb(227, 227, 227);

}
.boxFlex {
    display: flex;
    gap: 1rem;
}
#abrasileirar {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: #494c4e;
    color: rgb(227, 227, 227);
    border-radius: 10px;
    padding: 4px 12px;
    font-weight: 700;
    display: block;
}